body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.table td{
  vertical-align: middle;
}
.detailShoe{
  margin: 10px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.detailShoe .textDetail{
  align-self: center;
}
.detailShoe .textDetail span{
  display: inline-block;
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}